body {
  font-size: 18px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: rgb(191, 166, 250);
  color: rgb(53, 56, 61);
  min-height: 100vh;
}

footer {
  font-size: 18px;
  text-align: center;
  margin: 10px auto 70px auto;
}

ul {
  padding-left: 0px;
  margin-bottom: 0px;
}

li {
  list-style: none;
  width: 150px;
}

a {
  text-decoration: none;
  color: rgb(53, 56, 61);
  font-weight: 600;
}

a:hover {
  color: #fff;
  transition: all 0.25s ease-in-out;
}

.container {
  width: 600px;
  padding: 0;
}

.search-container {
  text-align: center;
  margin: 100px auto 20px auto;
  width: 580px;
}

.current-weather-container {
  border: 1px solid none;
  border-radius: 30px;
  padding: 25px;
  width: 560px;
  margin: 10px auto;
  background-color: rgba(250, 250, 250, 0.4);
  box-shadow: 5px 5px 5px rgba(165, 130, 248, 0.4);
}

.details-container {
  padding: 5px;
  width: 560px;
  margin: 10px auto;
}

.week-forecast-container {
  border: 1px solid none;
  border-radius: 30px;
  padding: 25px;
  width: 560px;
  margin: 10px auto;
  background-color: rgba(250, 250, 250, 0.4);
  box-shadow: 5px 5px 5px rgba(165, 130, 248, 0.4);
}

.humidity,
.wind,
.pressure,
.feelsLike {
  margin: 5px auto;
  border: 1px solid none;
  border-radius: 25px;
  padding: 10px;
  width: 120px;
  height: 130px;
  text-align: center;
  line-height: 38px;
  color: rgb(126, 80, 233);
  text-shadow: 1px 2px 3px rgba(161, 161, 161, 0.6);
  background-color: rgba(250, 250, 250, 0.4);
  box-shadow: 5px 5px 5px rgba(165, 130, 248, 0.4);
}

.details-name {
  color: rgba(90, 68, 117, 0.6);
  letter-spacing: 0.5px;
  margin: 0 auto;
}

.details-info {
  margin: 3px auto;
}

.logo {
  font-size: 45px;
  font-weight: 500;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: -3px;
  margin: 100px auto 10px auto;
  padding: 5px;
  text-align: center;
  color: #fff;
  text-shadow: 1px 2px 3px rgba(99, 99, 99, 0.8);
}

.logo-image {
  width: 45px;
  margin: 20px 5px 0 0;
}

.enter-city {
  letter-spacing: 1px;
  height: 45px;
  background-color: rgb(244, 242, 250);
  color: rgb(39, 39, 39);
  border-width: 1px;
  border-color: rgb(244, 242, 250);
  border-radius: 10px;
  border-style: double;
}

.search-button {
  letter-spacing: 1px;
  height: 45px;
  width: 100px;
  background-color: rgb(153, 116, 240);
  color: #fff;
  border-width: 1px;
  border-color: rgb(153, 116, 240);
  border-radius: 10px;
  border-style: double;
}

.current-button {
  height: 45px;
  width: 55px;
  text-align: center;
  background-color: rgb(166, 200, 250);
  color: #fff;
  border-width: 1px;
  border-color: rgb(166, 200, 250);
  border-radius: 10px;
  border-style: double;
}

.days {
  color: #fff;
  text-align: center;
  font-weight: 600;
  font-size: 25px;
  letter-spacing: 0.5px;
  text-shadow: 1px 2px 3px rgba(99, 99, 99, 0.8);
}

.small-icons {
  text-align: center;
  margin: 5px auto;
}

.week-temps {
  text-align: center;
  text-shadow: 1px 2px 3px rgba(161, 161, 161, 0.6);
  font-size: 18px;
}

.high-temp {
  font-weight: 600;
  color: rgb(126, 80, 233);
}

.low-temp {
  color: rgba(90, 68, 117, 0.6);
}

.current-temp {
  font-size: 60px;
  font-weight: 400;
  color: #fff;
  text-shadow: 1px 2px 3px rgba(99, 99, 99, 0.8);
}

.current-city {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: #fff;
  text-shadow: 1px 2px 3px rgba(99, 99, 99, 0.8);
}

.current-description {
  font-size: 25px;
  letter-spacing: 1px;
  color: #fff;
  text-shadow: 1px 2px 3px rgba(99, 99, 99, 0.8);
  text-align: left;
}

.current-time {
  font-size: 25px;
  letter-spacing: 1px;
  text-align: center;
  color: #fff;
  text-shadow: 1px 2px 3px rgba(99, 99, 99, 0.8);
  text-align: left;
}

.main-temperature {
  text-align: left;
}

.main-city {
  text-align: left;
}

.weather-icon {
  margin-top: 20px;
  width: 180px;
}

.icon {
  text-align: center;
}

.units {
  position: relative;
  top: -28px;
  left: -3px;
  font-size: 20px;
  text-align: center;
  margin-left: 8px;
  color: #fff;
}

.units .active {
  cursor: default;
  color: #fff;
  text-shadow: 1px 2px 3px rgba(99, 99, 99, 0.8);
}
