body {
  padding-top: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: rgb(236, 230, 252);
}

footer {
  font-size: small;
  font-style: italic;
  text-align: center;
  margin: 10px 0 70px 0;
}

ul {
  padding-left: 0px;
  margin-bottom: 0px;
}

li {
  list-style: none;
  width: 150px;
}
.container {
  width: 600px;
}

a {
  text-decoration: none;
}

.weather-app {
  border: 1px solid none;
  border-radius: 10px;
  padding: 25px;
  max-width: 600px;
  margin: 10px auto;
  background-color: #fff;
  box-shadow: 5px 5px 5px rgba(206, 206, 206, 0.4);
}

.forecast-container {
  border: 1px solid none;
  border-radius: 10px;
  padding: 25px;
  max-width: 600px;
  margin: 10px auto;
  background-color: #fff;
  box-shadow: 5px 5px 5px rgba(206, 206, 206, 0.4);
}

.logo {
  font-size: 35px;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 1px;
  margin: 10px 10px 40px 0;
  text-align: center;
  color: rgb(191, 166, 250);
}

.logo-image {
  width: 65px;
}

.enter-city {
  letter-spacing: 1px;
  height: 35px;
  background-color: rgb(244, 242, 250);
  color: rgb(39, 39, 39);
  border-width: 1px;
  border-color: rgb(244, 242, 250);
  border-radius: 6px;
  border-style: double;
}

.search-button {
  margin-bottom: 30px;
  letter-spacing: 1px;
  height: 35px;
  background-color: rgb(191, 166, 250);
  color: #fff;
  border-width: 1px;
  border-color: rgb(191, 166, 250);
  border-radius: 6px;
  border-style: double;
}

.current-button {
  margin-bottom: 30px;
  letter-spacing: 1px;
  height: 35px;
  background-color: rgb(166, 200, 250);
  color: #fff;
  border-width: 1px;
  border-color: rgb(166, 200, 250);
  border-radius: 6px;
  border-style: double;
  font-size: 18px;
}

.days {
  text-align: left;
  font-size: 20px;
  font-weight: 600;
  margin: 3px 0 3px 50px;
}

.small-icons {
  text-align: center;
  margin: 3px 0 3px 50px;
}

.high-temp {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: rgb(152, 110, 248);
  margin: 3px 50px 3px 0;
}

.low-temp {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: rgba(152, 110, 248, 0.5);
  margin: 3px 0 3px 50px;
}

.current-time {
  font-size: 20px;
  letter-spacing: 1px;
}

.current-temp {
  font-size: 55px;
  font-weight: 400;
}

.current-city {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.weather-icon {
  width: 100px;
  margin-top: 0px;
}

.units {
  position: relative;
  top: -25px;
  left: -3px;
  font-size: 18px;
  text-align: center;
  margin-left: 8px;
}

.units .active {
  color: #000000;
  cursor: default;
}

.details {
  margin-top: 10px;
  letter-spacing: 1px;
}
